html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

nav {
    width: 100%;
    text-align: center;
    background-color: #ff6b28;
    padding: 1em;
}

header {
    background: url(./images/hero_bolo.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

main {
    width: 60%;
    margin: auto;
    text-align: left;
}

h1 {
    padding: 1em;
    font-size: 2.5em;
}

h1,
h2 {
    color: #ff6b28;
}

section {
    width: 80%;
    margin: auto;
    line-height: 2rem;
    padding: 2.5rem 4rem;
    border-radius: 20px;
}

section:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.ingredients:hover {
    cursor: url('./images/cursor_ingredientes.png'), pointer;
}

button {
    background-color: #ff6b28;
    color: white;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    padding: 0.7rem 0.6rem;
    border-radius: 15px;
}

.steps {
    margin-top: 4em;
}

.steps:hover {
    cursor: url('./images/cursor_preparo.png'), pointer;
}

.informational {
    line-height: 1.5rem;
    margin-top: 4em;
    margin-bottom: 4em;
}

.informational:hover {
    cursor: url('./images/cursor_intrucoes.png'), pointer;
}